*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.goods{
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	top: 15.05rem;
	overflow: scroll;
}
/* 左边侧边栏 */
.left{
	position: fixed;
	width: 25%;
	overflow: scroll;
}
.left ul li a{
	text-decoration: none;
	color: black;
}
.left ul li{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 4rem;
	border-bottom: 1px solid #ccc;
}
.left ul li:hover{
	background: white;
}
/* 右边 */
.right{
	position: absolute;
	width: 74%;
	margin-left: 6.8rem;
	overflow: hidden;
	height: 295.5rem;
}
.rgtop{
	width: 100%;
	position: relative;
}
/* 右边头部标题 */
.rgtop{
	width: 104%;
	list-style: none;
	position: relative;
}
.rgtop li .title{
	position: relative;
	height: 2rem;
	line-height: 2rem;
	border-left: 5px solid #ccc;
}
.rgtop li .title p{
	margin-left: 1rem;
	color: gray;
}
/* 底部内容 */
.center{
	position: relative;
	width: 100%;
	background: white;
	display: flex;
	height: 8.3rem;
	border-bottom: 1px solid #ccc;
}
.cenlt{
	margin-left: 1rem;
	margin-top: 1.5rem;
}
.zb{
	width: 4rem;
	height: 4rem;
}
.cenrg{
	margin-top: 1.5rem;
}
.cenrg .div1{
	margin-left: .8rem;
	font-weight: bold;
}
.cenrg .div2{
	margin-left: .8rem;
	color: gray;
	font-size: .9rem;
	margin-top: .2rem;
}
.cenrg .div4{
	display: flex;
	margin-left: .8rem;
	margin-top: .2rem;
}
.cenrg .div4 .p1{
	color: red;
	font-weight: bold;
	font-size: 1.2rem;
}
.cenrg .div4 .p2{
	color: gray;
	margin-left: .5rem;
	margin-top: .15rem;
	text-decoration: line-through;
}
.div4{
	width: 6rem;
}
.div5{
	position: relative;
	width: 6.5rem;
}
.div5 .jia{
	position: relative;
	float: right;
	background-color: #00a0dc;
	color: white;
	width: 2rem;
	height: 2rem;
	border: 0;
	border-radius: 50%;
}
.div5 .jia p{
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: .15rem;
}
.div4-0{
	display: flex;
}
.div5 .jian{
	position: relative;
	float: left;
	margin-left: .8rem;
	border: 2px solid #00A0DC;
	color: #00A0DC;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}
.div5 .jian p{
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	margin-top: -.5rem;
}
.show span{
	position: relative;
	float: left;
	margin-left: .5rem;
	margin-top: .5rem;
}
.div6{
	position: relative;
	display: flex;
	margin-left: 9.6rem;
}
.div7{
	position: relative;
	display: flex;
	margin-left: 10.5rem;
}
.div8{
	position: relative;
	display: flex;
	margin-left: 11.5rem;
}
.splt .jian2{
	position: relative;
	float: left;
	margin-left: .8rem;
	border: 2px solid #00A0DC;
	color: #00A0DC;
	width: 2rem;
	height: 2rem;
	margin-top: 1rem;
	border-radius: 50%;
}
.splt .jian2 p{
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	margin-top: -1.3rem;
}
.splt .jia2{
	position: relative;
	float: right;
	background-color: #00a0dc;
	color: white;
	width: 2rem;
	height: 2rem;
	border: 0;
	margin-top: 1rem;
	margin-left: 1rem;
	border-radius: 50%;
}
.splt .jia2 p{
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: -1rem;
}
.show2 span{
	position: relative;
	float: left;
	margin-left: 1rem;
}
.z1{
	color: red;
	font-weight: bold;
}